week-04-model-comparison/workflow.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cbd58221-93ab-4de0-a4ed-cc511196e15a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appM6bvSftjCUqde8",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appM6bvSftjCUqde8"
        },
        "table": {
          "__rl": true,
          "value": "tblc7IymEZZJcBRQ4",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appM6bvSftjCUqde8/tblc7IymEZZJcBRQ4"
        },
        "filterByFormula": "{input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e6f20b6b-3a5b-4524-b8f2-8a93f79aa117",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "EWOG7vizW6dKNNYI",
          "name": "Airtable Personal Access Token account 49"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "de82dab5-eda5-4e29-969a-dcf6dec7121e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $('Search records').item.json.fields.Input_text }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -176
      ],
      "id": "e7f50c61-e559-4671-bbca-bb40cb6cc64f",
      "name": " HF Sentiment",
      "credentials": {
        "huggingFaceApi": {
          "id": "xCdlSaE95uUvxLli",
          "name": "HuggingFaceApi account 28"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb6eb400-583a-489a-9cde-eca80328e69d",
              "name": "sentiment_label ",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "a7f769d0-c115-48aa-8721-8cb9f17e7405",
              "name": "sentiment_score ",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "bf8b7541-49ed-446b-96ba-db38502ab865",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.fields.Input_text }}",
              "type": "string"
            },
            {
              "id": "f5125c45-8de4-4118-b402-747f802880e0",
              "name": "record_id",
              "value": "={{ $('Loop Over Items').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -176
      ],
      "id": "e777cd3f-7516-468c-8ec1-0e8dda501cf8",
      "name": "Extract Sentiment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $('Search records').item.json.fields.Input_text }}\",\"parameters\":{\"candidate_labels\":[\"critical threat\",\"routine activity\",\"possible anomaly\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        32
      ],
      "id": "d7d8f8a1-631d-410f-a501-09c183f6a313",
      "name": "HF Zero-Shot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rbDj8bnj88KJ78Fz",
          "name": "Header Auth account 50"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11659d14-52d1-4f17-a420-e5cfb4a02838",
              "name": "zeroshot_label",
              "value": "={{ $json.label }}",
              "type": "string"
            },
            {
              "id": "27cdc705-003d-4cd9-90ed-aa4912ce16fb",
              "name": "zeroshot_score",
              "value": "={{ $json.score }}",
              "type": "string"
            },
            {
              "id": "fd878671-7183-41c6-9950-6e82520adc41",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            },
            {
              "id": "fd492c28-9d14-4b8f-a205-f62d477d585a",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.fields.Input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        32
      ],
      "id": "b447d21c-f5b1-450f-9bd5-2b242b1c3c1e",
      "name": "Extract Zero Shot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $('Search records').item.json.fields.Input_text }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        640
      ],
      "id": "617cdbf3-981b-44fb-a2d4-96e2564af4b4",
      "name": "HF NER",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rbDj8bnj88KJ78Fz",
          "name": "Header Auth account 50"
        },
        "huggingFaceApi": {
          "id": "xCdlSaE95uUvxLli",
          "name": "HuggingFaceApi account 28"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f22c72c2-e61f-4e05-bae0-cbdd87185589",
              "name": "ner_entities",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "5c632e45-9a7d-468c-8544-fa2fb99b60f4",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            },
            {
              "id": "62df78ec-3f19-4172-b4bf-44208ecf86a5",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.fields.Input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        640
      ],
      "id": "6bd509f2-f52f-4596-9f01-e83d01088fd0",
      "name": "Extract NER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"llama-3.1-8b-instant\",\"messages\":[{\"role\":\"system\",\"content\":\"You are a security analyst. Classify as CRITICAL HIGH MEDIUM LOW or INFORMATIONAL with one sentence of reasoning.\"},{\"role\":\"user\",\"content\":\"{{ $('Search records').item.json.fields.Input_text }}\"}],\"max_tokens\":100}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        400
      ],
      "id": "66b1f171-af19-4292-a91e-9f75367df88d",
      "name": "Groq LLM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mBlnT9OouDOwo4ip",
          "name": "Groq API 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adac0184-37b2-41ae-94c3-81397f971f00",
              "name": "groq_classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "01b51f86-d656-4d9c-88d0-72e04e95f7a6",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        384
      ],
      "id": "5b64565e-32e2-48a6-89ab-5c85605227a0",
      "name": "Extract Groq"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appM6bvSftjCUqde8",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appM6bvSftjCUqde8"
        },
        "table": {
          "__rl": true,
          "value": "tblc7IymEZZJcBRQ4",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appM6bvSftjCUqde8/tblc7IymEZZJcBRQ4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tested_at": "={{ new Date().toISOString() }}",
            "model_1_sentiment_label": "={{ $('Extract Sentiment').item.json['sentiment_label '] }}",
            "model_1_sentiment_score ": "={{ $('Extract Sentiment').item.json['sentiment_score '] }}",
            "id": "={{ $json.record_id }}",
            "model_2_zeroshot_label": "={{ $('Extract Zero Shot').first().json.zeroshot_label }}",
            "model_2_zeroshot_score ": "={{ $('Extract Zero Shot').first().json.zeroshot_score }}",
            "model_4_groq_classification ": "={{ $('Extract Groq').first().json.groq_classification }}",
            "model_3_ner_entities": "={{ JSON.stringify($json) }} "
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Input_text",
              "displayName": "Input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label",
              "displayName": "model_1_sentiment_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score ",
              "displayName": "model_1_sentiment_score ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label",
              "displayName": "model_2_zeroshot_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score ",
              "displayName": "model_2_zeroshot_score ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification ",
              "displayName": "model_4_groq_classification ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1440,
        128
      ],
      "id": "cac0abd1-9bd2-4d8e-bbec-3b9126323862",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "EWOG7vizW6dKNNYI",
          "name": "Airtable Personal Access Token account 49"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": " HF Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " HF Sentiment": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Extract Zero Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Zero Shot": {
      "main": [
        [
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Extract NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract NER": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Extract Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq": {
      "main": [
        [
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7ec12969-f4d4-4355-b6f9-19038a8fa960",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "HrgKUUbk3I387ts5",
  "tags": []
}
